<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account reset password</title>
  </head>
  <body>
    <h1>Account reset password</h1>
    <p>Verify your password reset. This is only valid for 24 hours.</p>
    <code><%= url %></code>
  </body>
</html>
